@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
/* shop component css goes here */
.mainBodyShop {
  width: 100%;
  
  display: flex;
  flex-direction: column;
}
.header-breadcrump {
  margin-top: 3px !important;
  margin-bottom: 0px !important;
  width: 100% !important;
  border: none !important;
  background: rgba(112, 128, 144, 1) !important;
}
.header-breadcrump a {
  color: #84dccf !important;
}
.shop-div-title {
  background-color: #dca109 !important;
  height: 22vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 0.6%;
  margin: 5px auto 0 auto;
  width: 99%;
}
.cartLogo {
  float: right !important;
}

.shop-div-text {
  font-size: 20px;
  margin-top: -15px;
  font-family: "Lora", serif;
}
.shop-div-order-warning {
  font-size: 15px;
  margin-bottom: -10px;
}
.shop-payment-partners {
  font-size: 20px;
  text-align: center;
}

.shop-payment-partners > ol > li {
  display: inline-block;
  margin: 0px 10px;
}
.containerSegmentMain {
  background:linear-gradient(#84dccf,gray) !important;
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  height: 80vh !important;
  border-radius: 0.6% !important;
  margin: 5px auto 0 auto !important;
  width: 99% !important;
  overflow-y: auto !important;
  width: fit-content !important;
  overflow-x: hidden !important;
  
}
